body{
    font-family: sans-serif; 
    margin:0;
    background-color: rgba(238, 237, 239, 0.764);
}
a{
    text-decoration: none;
    color:white
}
header{
    display: flex;
    height: 120px;
    background: url(imagenes/Fondoheader.jpg)no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.logo {
    display:flex;
    align-items: center;
}
.logo img {
    height: 80px;
    
}
nav a{
    font-weight: 500;
    padding-right: 10px;
}
nav a:hover{
    color:rgb(164, 94, 172);
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

iframe{
    position:relative;
    top:50px;
}

.F{
    top: 100px;
    display: table;
    height: 220px;
    margin:2rem auto;
    text-align: center;
    width: 800px;
}
.F h1{
    color: rgb(100, 100, 100);
    font-size: 2em;
    text-align: center;
    position: relative;
    
}
.F p{
    color: rgb(100, 100, 100);
    text-align: justify;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
    letter-spacing: 1px;
    line-height: 150%;
}
.F2{
    display: table;
    height: 550px;
    margin:2rem auto;
    text-align: center;
    width: 800px;
}
.F2 h1{
    color: rgb(100, 100, 100);
    font-size: 2em;
    text-align: center;
    position: relative;
}
.F2 p{
    color: rgb(100, 100, 100);
    text-align: justify;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
    letter-spacing: 1px;
    line-height: 150%;
}

.B{
    width: 410px;
    height: 120px;
    margin:0 auto;
}
.B h1{
    color: rgb(100, 100, 100);
    font-size: 2em;
    text-align: center;
    position: flex;
}
.B ul {
    list-style: 5;
    display: flex;
    margin: 0;
    padding-right: 4vh;
}
.B a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.B a img{
    width: 100px;
    margin-top: 5px;
}

footer {
    top: 100px;
    width: 100%;
    background: url(imagenes/Fondoheader.jpg)no-repeat;
    background-size: cover;   
    padding: -60px 0px;
}

.CF {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
}


.Gr{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.Gr h2{
    margin-bottom: 30px;
    color: #d9d3da;
    font-weight: 700;
}

.Gr a{
    margin-top: 10px;
    color: #aca9a9;
    font-weight: 600;
}

.Gr a:hover{
    opacity: 0.8;
}

.Gr a .fab{
    font-size: 20px;
}

.GrC {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    color: #aca9a9;
}

.GrC p{
    margin-top: 20px;

}