body{
    font-family: sans-serif; 
    margin:0;
    background: url(imagenes/fondohome.png);}
a{
    text-decoration: none;
    color:white
}
header{
    display: flex;
    height: 120px;
    background: url(imagenes/Fondoheader.jpg)no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    display:flex;
    align-items: center;
}
.logo img {
    height: 80px;
}

nav a{
    font-weight: 500;
    padding-right: 10px;
}
nav a:hover{
    color:rgb(164, 94, 172);
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

iframe{
    position:relative;
    top:50px;
}

h1{
    top: 20px;
    color: rgba(187, 181, 209, 0.799);
    font-size: em;
    text-align: center;
    position: relative;
}

.row{
    display: flex;
    top:25px; 
    height: 1300px;
    margin:2rem auto;
    text-align: center;
    width: 920px;
}

.row img{
    width:100%;
}


.i:hover img{
    transform: scale(1.1);
}

.column{
    flex:25%;
    padding:10px;
}

.column img{
    margin-top: 10px;
}

.row .popup{
    position: fixed;
    top: 0; 
    left: 0;
    background: rgb(0,0,0,.9);
    height: 100%;
    width:100%;
    z-index: 100;
    display: none;
}

.popup span{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 70px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width:750PX;
    object-fit: cover;
}

footer {
    top: 100px;
    width: 100%;
    background: url(imagenes/Fondoheader.jpg)no-repeat;
    background-size: cover;   
    padding: -60px 0px;
}

.CF {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
}


.Gr{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.Gr h2{
    margin-bottom: 30px;
    color: #d9d3da;;
    font-weight: 700;
}

.Gr a{
    margin-top: 10px;
    color: #aca9a9;
    font-weight: 600;
}

.Gr a:hover{
    opacity: 0.8;
}

.Gr a .fab{
    font-size: 20px;
}

.GrC {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    color: #aca9a9;
}

.GrC p{
    margin-top: 20px;

}
